<!DOCTYPE html>

<html lang="en" style="height:100%;">

<head>
	<meta charset="UTF-8">
    <title>SmashGroup Login</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />    
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
    <!-- Theme style -->
    <link href="dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="skin-red sidebar-collapse" style="height:100%;">
	<div class="wrapper" style="background-color:#ecf0f5;position:relative;padding-bottom:51px;">
		<header class="main-header">
			<!-- Logo -->
			<a href="" class="logo"><b>Smash</b>Group</a>
      <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="/signup" class="dropdown-toggle" data-toggle="dropdown">
              	<span>Signup</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
		</header>
		<div class="content-wrapper">
			<!-- Main content -->
      <div class="col-xs-12 col-sm-6 container">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8">
          <form method="POST" action="/login" class="form-horizontal">
            <div class="form-group">
              <h1>Log In</h1>
              <label class="control-label">Username:</label>
              <input type="text" name="username" class="form-control">
              <label class="control-label">Password:</label>
              <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" value="Log In" class="btn btn-default">
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-8" style="padding:0;padding-top:2em;">
          <div class="well" style="padding:0;">
            <div class="page-header">
              <h1 style="text-align:center;">Welcome to SmashGroup!</h1>
            </div>
            <p style="font-size:150%;padding:1em;">SmashGroup is a wonderful place where you can meet
            up with all of your friends and even make new ones!</p>
          </div>
        </div>
      </div>
		</div>
    <footer class="main-footer" style="position:absolute;width:100%;bottom:0;">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>SmashGroup Team</strong>
    </footer>
	</div>
</body>

</html>
