<!doctype html>
<html>
<head>
	<title>Sign up for SmashGroup!</title>
</head>
<body>
	<h1>Sign up for SmashGroup!</h1>
	
	<form method="POST" action="/signup">
		<label>Name:</label>
		<input type="text" name="firstname" placeholder="First">
		<input type="text" name="lastname" placeholder="Last"><br>
		
		<label>Email Address:</label>
		<input type="text" name="email"><br>
		
		<label>ZipCode:</label>
		<input type="text" name="zipcode" placeholder="Ex: 84601"><br>

		<label>Desired Username:</label>
		<input type="text" name="username" placeholder="Coolguy1"><br>

		<label>Create a password:</label>
		<input type="password" name="password" placeholder="*********"><br>

		<p1>Interests</p1><br>
		<input type="checkbox" name="gaming" value="gaming">Gaming<br>
		<input type="checkbox" name="movies" value="movies">TV/Movies<br>
		<input type="checkbox" name="outdoors" value="outdoors">Outdoor Adventures<br>
		<input type="checkbox" name="books" value="books">Reading Adventures<br>
		<input type="checkbox" name="art" value="art">The Arts<br>
		<input type="checkbox" name="computers" value="computers">Computer Programming<br>
		<input type="checkbox" name="other" value="other">Other (not listed)<br>
		
		<input type="submit" value="Sign Me Up!">
	</form>
</body>
</html>