<!doctype html>
<html lang="en" style="height:100%;" data-ng-app="smashGroup">
<head>
  <meta charset="UTF-8">
  <title>Sign up for SmashGroup!</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <!-- Bootstrap 3.3.2 -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />    
  <!-- FontAwesome 4.3.0 -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <!-- Ionicons 2.0.0 -->
  <link href="//code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
  <!-- Theme style -->
  <link href="dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
  <!-- AdminLTE Skins. Choose a skin from the css/skins 
    folder instead of downloading all of them to reduce the load. -->
  <link href="dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
  
  <!-- jQuery 2.1.3 -->
  <script src="plugins/jQuery/jQuery-2.1.3.min.js"></script>
  <!-- AngularJS CDN -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
  <!-- ui bootstrap -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
  <!-- AngularJS App -->
  <script src="javascripts/angularApp.js"></script>
  <!-- Angular UI-Router -->
  <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
  <!-- ValidatorJS -->
  <script src="plugins/validator/validator.min.js"></script>
</head>
<body class="skin-red sidebar-collapse" style="height:100%;" ng-controller="signupController">
  <div class="wrapper" style="background-color:#ecf0f5;position:relative;padding-bottom:51px;">
		<header class="main-header">
			<!-- Logo -->
			<a href="" class="logo"><b>Smash</b>Group</a>
      <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="/login" class="dropdown-toggle" data-toggle="dropdown">
              	<span>Log In</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
		</header>
		<div class="content-wrapper">
			<!-- Main content -->
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 well" style="margin-top:2em;">
        <form ng-submit="submitForm()" data-toggle="validator" class="form-horizontal" id="myForm">
          <div class="form-group">
            <h1 style="text-align:center;">Sign up for SmashGroup!</h1>
            <div class="col-xs-12 col-sm-offset-2 col-sm-4" style="padding:0em;">
              <div class="form-group col-xs-12">
                <label class="control-label">Name:</label>
                <input type="text" name="firstname" placeholder="First" class="form-control" required>
                <input type="text" name="lastname" placeholder="Last" class="form-control" required>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group col-xs-12">
                <label class="control-label">Email Address:</label>
                <input type="email" name="email" placeholder="email@example.com" class="form-control" required>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group col-xs-12">
                <label class="control-label">Phone Number:</label>
                <input type="tel" name="phone" placeholder="Ex: 555-5555" class="form-control">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4" style="padding:0em;">
              <div class="form-group col-xs-12">
                <label class="control-label">Desired Username:</label>
                <input type="text" name="username" placeholder="username" class="form-control" required>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group col-xs-12">
                <label class="control-label">Create a password:</label>
                <input type="password" name="password" placeholder="*********" class="form-control" data-minlength="7" required>
                <span class="help-block">Minimum of 7 characters</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 col-sm-offset-3 col-sm-3">
              <label class="control-label">Interests:</label>
              <div ng-repeat="category in categories">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="{{category.name}}" value="{{category._id}}">{{category.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center form-group">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                {{alert.msg}}
            </alert>
            <input type="submit" value="Sign Me Up!" class="btn btn-default">
          </div>
        </form>
      </div>
		</div>
    <footer class="main-footer" style="position:absolute;width:100%;bottom:0;">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>SmashGroup Team</strong>
    </footer>
	</div>
</body>
</html>