<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{group.name}}
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 connectedSortable">
      <!-- Description box -->
      <div class="box box-success">
        <div class="box-body">
          <h4>Description</h4>
          <p>{{group.description}}</p>
        </div>
        <div class="box-body">
          <h4>Schedule</h4>
          <p>{{group.schedule}}</p>
        </div>
      </div><!-- /.box (description box) -->
      
      <!-- Admin box -->
      <div class="box box-success" ng-hide="group.admins[0] != user._id">
        <div class="box-header">
          <h3 class="box-title">Administration</h3>
        </div>
        <form ng-submit="updateGroup()" class="form-horizontal" id="myGroupForm">
          <div class="form-group">
            <div class="col-xs-12 col-sm-offset-1 col-sm-4">
              <label class="control-label">Description:</label>
              <input type="text" name="description" value="{{group.description}}" class="form-control">
              
              <label class="control-label">Schedule:</label>
              <input type="text" name="schedule" value="{{group.schedule}}" class="form-control">
              
              <label class="control-label">Zipcode:</label>
              <input type="text" name="zipcode" value="{{group.zipcode}}" class="form-control">
            </div>
          </div>
          <div class="box-footer">
	        <div class="input-group">
	          <input type="submit" value="Update" class="btn btn-default">
	        </div>
	      </div>
        </form>
        <div class="box-body">
          <h4>Requests:</h4>
          <div ng-repeat="request in requests">
            {{request.username}}
            <button class="btn btn-default" ng-click="addMember(request.userId)">Accept</button>
          </div>
        </div>
      </div><!-- /.box (admin box) -->
      
      <!-- Request box -->
      <div class="box box-success" ng-hide="isMember(user._id) || isRequestedMember(user._id)">
        <div class="box-header">
          <h3 class="box-title">Request to Join</h3><br>
          <button class="btn btn-success" ng-click="addRequest(user._id)">Request</button>
        </div>
      </div><!-- /.box (request box) -->
      
      <!-- Chat box -->
      <div class="box box-success" ng-hide="!isMember(user._id)">
        <div class="box-header">
          <i class="fa fa-comments-o"></i>
          <h3 class="box-title">Comments</h3>
        </div>
        <div class="box-body chat" id="chat-box">
          <!-- chat item -->
          <div ng-repeat="comment in comments">
          <div class="item">
            <p>
              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{comment.timestamp}}</small>
              {{comment.user}}
              <br>
              {{comment.commentText}}
            </p>
          </div>
          </div><!-- /.item -->
        </div><!-- /.chat -->
        <div class="box-footer">
          <div class="input-group">
            <input class="form-control" ng-model="newComment" placeholder="Type comment..."/>
            <div class="input-group-btn">
              <button class="btn btn-success" ng-click="addComment()"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div><!-- /.box (chat box) -->
    </section><!-- /.Left col -->
  </div><!-- /.row (main row) -->
</section><!-- /.content -->