<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{group.name}}
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
      <!-- Description box -->
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Description</h3>
        </div>
        <p>{{group.description}}</p>
        <div class="box-header">
          <h3 class="box-title">Schedule</h3>
        </div>
        <p>{{group.schedule}}</p>
      </div><!-- /.box (description box) -->
      
      <!-- Admin box -->
      <div class="box box-success" ng-hide="group.admins[0] != user._id">
        <div class="box-header">
          <h3 class="box-title">Administration</h3>
        </div>
        <p>{{group.description}}</p>
        <div class="box-header">
          <h3 class="box-title">Schedule</h3>
        </div>
        <p>{{group.schedule}}</p>
      </div><!-- /.box (admin box) -->
      
      <!-- Request box -->
      <div class="box box-success" ng-hide="isMember(user._id) || isRequestedMember(user._id)">
        <div class="box-header">
          <h3 class="box-title">Request to Join</h3><br>
          <button class="btn btn-success" ng-click="addRequest(user._id)">Request</button>
        </div>
      </div><!-- /.box (request box) -->
      
      <!-- Chat box -->
      <div class="box box-success" ng-hide="!isMember(user._id)">
        <div class="box-header">
          <i class="fa fa-comments-o"></i>
          <h3 class="box-title">Comments</h3>
        </div>
        <div class="box-body chat" id="chat-box">
          <!-- chat item -->
          <div ng-repeat="comment in comments">
          <div class="item">
            <p>
              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i>{{comment.timestamp}}</small>
              {{comment.user}}
              <br>
              {{comment.commentText}}
            </p>
          </div>
          </div><!-- /.item -->
        </div><!-- /.chat -->
        <div class="box-footer">
          <div class="input-group">
            <input class="form-control" ng-model="newComment" placeholder="Type comment..."/>
            <div class="input-group-btn">
              <button class="btn btn-success" ng-click="addComment()"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div><!-- /.box (chat box) -->
    </section><!-- /.Left col -->
  </div><!-- /.row (main row) -->
</section><!-- /.content -->