<!DOCTYPE html>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    New Group
    <small>Create a New Group</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
    <!-- small box -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">New Group Name: </h3>
        
      </div>
      <form> 
        <input type="text" placeholder='e.g. Jumpropers United' id="newGroupName">
      </form>
      <div class="row">
        <div class="box-body">
          <h4>Description:</h4>
          <p>briefly describe your new group</p>
        </div>
        <form input='text'placeholder='e.g. Jumping rope is what we do.' id="description"></form>
      </div>
      
    </div>
  </div><!-- /.row -->
</section><!-- /.content -->